:root {
  --main-background-color: #242b33;
  --main-text-color: #d4c17f;
  --secondary-text-color: #ffffff;

  --bg-footer-color: rgba(50, 90, 50, 0.6);

  --bg-color-for-hero-mouse: rgba(65, 65, 65, 0.8);
  --bg-color-for-hero-mouse-start: rgba(56, 56, 55, 0.6);
  --overlay-bg: rgba(36, 43, 51, 1);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: linear-gradient(
    var(--main-background-color),
    hsl(230, 13%, 9%),
    var(--main-background-color)
  );

  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--main-text-color);
}

.container {
  width: 1100px;
  padding: 100px 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  gap: 40px;

  color: var(--secondary-text-color);
  letter-spacing: 0.05em;
  line-height: 1.1412;
  font-size: 14px;
}

.page-nav-item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.fix-list {
  display: none;
}

.hero-section {
  position: relative;

  max-width: 1920px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      #242b33 6.56%,
      rgba(36, 43, 51, 0.3) 50.31%,
      #242b33 89.37%
    ),
    url(../images/hero-image.jpg);
  height: 840px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  margin-right: auto;
  margin-left: auto;

  width: 600px;
  color: var(--main-text-color);
  font-family: Playfair Display, serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
}

.section-title,
.modal-title {
  color: var(--main-text-color);
  font-family: Playfair Display, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
}

.section-title {
  margin-bottom: 100px;
}

.hero-button-mouse {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-text-color);
  background-color: var(--bg-color-for-hero-mouse-start);
  border-radius: 50%;
  width: 55px;
  height: 55px;

  position: absolute;
  top: 70%;
  right: 47%;

  transform: scale(1) translate(-50%, -50%);
  overflow: hidden;
  transition: background-color, transform;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 5000ms;
}

.icon-mouse {
  fill: currentColor;
}

.hero-button-mouse:hover {
  transform: scale(1.3) translate(-50%, -50%);
  background-color: var(--bg-color-for-hero-mouse);
}

.contact-address {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

/* налаштування анімації для маркера адреси */

.address-place {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  overflow: hidden;

  font-style: normal;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.address-place::before,
.address-place::after {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 16px;

  background-image: url(../images/icon-map-marker.svg);
  background-repeat: no-repeat;
  background-size: contain;

  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.address-place:hover::before {
  transform: translateY(-50px);
}

.address-place::after {
  position: absolute;
  left: 16px;
  top: 50%;
  background-image: url(../images/icon-map-marker.svg);

  transform: translateY(calc(-50% + 50px));
}

.address-place:hover::after {
  transform: translateY(-50%);
}

/* налаштування анімації для трубки */

.address-tel {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  overflow: hidden;

  font-style: normal;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.address-tel::before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 16px;

  background-image: url(../images/icon-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;

  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.address-tel:hover::before {
  transform: translateY(-50px);
}

.address-tel::after {
  position: absolute;
  left: 16px;
  top: 50%;
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;

  background-image: url(../images/icon-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;

  transform: translateY(calc(-50% + 50px));
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.address-tel:hover::after {
  transform: translateY(-50%);
}

/* section features */

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
}

.features-list > li {
  text-align: center;
}

@keyframes rotateY {
  0% {
    transform: perspective(-800px) rotateY(60deg);
  }

  100% {
    transform: perspective(800px) rotateY(-60deg);
  }
}

/* @keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(60deg);
  }
} */

.features-icon.rotate-y {
  fill: var(--main-text-color);
  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.features-icon.rotate-x {
  fill: var(--main-text-color);
  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.features-icon:hover {
  animation-play-state: paused;
}

.about-text {
  text-align: center;
  width: 160px;
  margin-top: 60px;
  line-height: 1.2272;
  font-size: 20px;
}

/* .magic {
  display: block;
  position: relative;
  width: 360px;
  height: 320px;
  color: #d47fab;
} */

/* каталог квартир фото */
.flat-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.flat-catalog-item {
  position: relative;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  transition-property: transform, background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0.84, 1);
  padding: 24px 32px;

  color: var(--primary-white-color);
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

  opacity: 0;
  cursor: pointer;
  z-index: 20;
}

.flat-catalog-item:hover .overlay,
.flat-catalog-item:focus .overlay {
  transform: translatey(0);
  opacity: 1;
}

.flat-catalog-item:hover,
.flat-catalog-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.flat-catalog-item-label {
  position: absolute;
  bottom: 30px;
  left: 30px;

  font-size: 24px;
  z-index: 10;
}

.flat-catalog-item::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background-image: linear-gradient(
    180deg,
    rgba(36, 43, 51, 0) 0%,
    #242b33 100%
  );
  width: 100%;
  height: 100%;
}

.price-table td:hover {
  background: rgba(86, 91, 96, 0.7);
  color: var(--main-text-color);
}
.price-table td:hover:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 3px solid var(--main-text-color);
  cursor: pointer;
}

.table-title {
  margin-bottom: 22px;
}

table caption {
  text-align: left;
}

thead,
tfoot {
  text-align: left;

  background-color: rgba(255, 255, 255, 0.1);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 357px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
}

table th,
table td {
  padding: 16px 17px 13px 23px;
  border: 1px solid var(--secondary-text-color);
}

/* ask-to-action */

.hightowers {
  min-width: 1100px;
  background: linear-gradient(
      180deg,
      rgba(36, 43, 51, 1) 10.42%,
      rgba(36, 43, 51, 0.2) 50.52%,
      rgba(36, 43, 51, 1) 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    linear-gradient(0deg, rgba(196, 196, 196, 0.6), rgba(196, 196, 196, 0.6)),
    url(../images/Rectangle.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
  height: 560px;

  display: flex;
}

.hightowers-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.novobud-meta {
  width: 460px;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* FORM SECTION */

.forms {
  width: 588px;
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.form-title__accent {
  color: rgba(229, 45, 45, 1);
}

.form__label:nth-child(2n + 1) {
  margin-right: 20px;
}

.form__input {
  padding: 11px 16px;
  margin-top: 11px;
  background-color: #565b60;
  color: var(--secondary-text-color);
  border: 2px solid transparent;
  outline: none;

  font-size: 14px;
  line-height: calc(27 / 14);
  transition: border-radius, border 500ms linear;
}

.form__input:not(:placeholder-shown) {
  border: 2px solid #a7903e;
  border-radius: 8px;
}

.form__input::placeholder {
  color: rgba(190, 190, 190, 1);
}

.form__button {
  align-self: flex-start;

  width: 282px;
  height: 53px;
  padding: 11px 23px;
  margin-top: 36px;

  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  line-height: calc(27 / 16);
  font-weight: 700;
  box-shadow: 0px 0px 2px 2px #d4c17f33;
  transition-property: background-color, box-shadow;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form__button:hover {
  background-color: #a7903e;
  box-shadow: 2px 2px 0px 0px #d4c17f33;
}

/* МОДАЛЬНЕ ВІКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;

  width: 100%;
  height: 100%;
  background-color: rgba(36, 43, 51, 0.6);
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8, 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 500ms ease-in-out;

  width: 540px;
  max-width: 100%;
  height: 90vh;
  overflow: hidden scroll;
  background-color: rgba(36, 43, 51, 1);
  border-radius: 4px;
  box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.25);
}

.modalBodyWrapper {
  padding: 40px 50px;

  width: 100%;
  height: 75hv;
  overflow: hidden scroll;
}

.modal::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
.modalBodyWrapper::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px 10px;
  border-radius: 50%;
  border: 2px solid #565b60;
  color: rgba(231, 231, 231, 1);
  background-color: rgba(36, 43, 51, 1);
  outline: none;
  cursor: pointer;
}

.close-icon {
  fill: currentColor;
  color: rgba(231, 231, 231, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  width: 100%;
}

.modal-form:not(:last-child) {
  margin-bottom: 38px;
}

.modal-title {
  margin-bottom: 33px;
}

.modal-description {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e7e7;
  font-family: Raleway, sans-serif;
  margin-bottom: 16px;
}

.modal-form__label,
.modal-form__feedback,
.modal-label__agree {
  display: block;
  color: rgba(231, 231, 231, 1);
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.modal-form__title {
  display: inline-block;
  margin-bottom: 9px;
}

.modal-form-title__accent {
  color: rgba(229, 45, 45, 1);
  padding-left: 5px;
}
.modal-form__input,
.modal-textarea__input {
  width: 100%;
  margin-bottom: 24px;

  padding: 11px 20px;
  background-color: #565b60;
  color: var(--secondary-text-color);
  border: 2px solid transparent;
  outline: none;

  font-size: 14px;
  line-height: calc(27 / 14);
  transition: border-radius, border 500ms linear;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  padding: 0;
  margin-bottom: 24px;
  background-color: #565b60;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--main-text-color);
  border-radius: 50%;

  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--main-text-color);
  cursor: pointer;
  border-radius: 50%;
}

.ranger-label {
  position: relative;
}

.range-label-start {
  position: absolute;
  bottom: 8px;
  left: 0;
}

.range-label-end {
  position: absolute;
  bottom: 8px;
  right: 0;
}
/* ВИПАДАЮЧИЙ СПИСОК  */

.select {
  position: relative;
  background-color: #565b60;
}

.select select {
  display: block;
  appearance: none; /* убираем дефолнтные стрелочки */
  background: url('../images/close.svg') no-repeat #565b60;
  background-position: right 19px top 24px;
  cursor: pointer;
}

.flat-option,
.flat-type {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #bebebe;
}

.modal-textarea__input {
  resize: none;
}

.unchecked-icon {
  background-color: rgba(86, 91, 96, 1);
  border: none;
  border-radius: 2px;
}

/* .form__label > span {
  display: inline-block;
  color: rgba(229, 45, 45, 1);
}
 */

.form__input:not(:placeholder-shown) {
  border: 2px solid #a7903e;
  border-radius: 8px;
}

.modal-form__input::placeholder,
.modal-textarea__input::placeholder {
  color: rgba(190, 190, 190, 1);
}

.modal-label__agree {
  position: relative;
  padding-left: 30px;
}

.unchecked-icon {
  position: absolute;

  transform: translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 1;

  width: 20px;
  height: 15px;

  background-color: rgba(86, 91, 96, 1);
  border-radius: 2px;
}

.checked-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: scale(0.8) translateY(-50%);
  opacity: 0;
  width: 20px;
  height: 15px;
  background-color: #fff;

  border-radius: 2px;

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checked-icon {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.modal-form__button {
  width: 100%;
  height: 50px;
  padding: 11px 23px;
  margin-top: 34px;
  margin-bottom: 16px;

  background-color: var(--main-text-color);
  color: var(--secondary-text-color);

  line-height: calc(27 / 16);
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 0px 2px 2px #d4c17f33;
  transition-property: background-color, box-shadow;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-form__button:hover {
  background-color: #a7903e;
  box-shadow: 2px 2px 0px 0px #d4c17f33;
}
.modal-form__promo {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: calc(16 / 13);
  font-family: Raleway, sans-serif;
  font-style: italic;
  color: #e7e7e7;
}

/* SECTION QUESTIONS */
.ask-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ask-form__meta {
  padding: 0 13px;
  width: 255px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: calc(16 / 13);
  color: #e7e7e7;
}

.ask-form__input {
  width: 255px;
  padding: 11px 16px;
  background-color: #565b60;
  color: var(--secondary-text-color);
  border: 2px solid transparent;
  outline: none;

  font-size: 14px;
  line-height: calc(27 / 14);
  transition: border-radius, border 500ms linear;
}

.ask-form__input:not(:placeholder-shown) {
  border: 2px solid #a7903e;
  border-radius: 8px;
}

.ask-form__input::placeholder {
  color: rgba(190, 190, 190, 1);
}

.ask-form__button {
  align-self: flex-start;

  width: 255px;
  height: 50px;
  padding: 11px 23px;

  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  line-height: calc(27 / 16);
  font-weight: 700;
  box-shadow: 0px 0px 2px 2px #d4c17f33;
  transition-property: background-color, box-shadow;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ask-form__button:hover {
  background-color: #a7903e;
  box-shadow: 2px 2px 0px 0px #d4c17f33;
}

/* FOOTER */

.footer {
  background-color: rgba(45, 52, 60, 1);
}

.footer-section,
.footer-social,
.footer-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-logo,
.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact-mail__link {
  color: var(--main-text-color);
}
.footer-logotip {
  margin-bottom: 73px;
}

.footer-nav-list > li + li,
.footer-contacts-list > li + li,
.address-label,
.address-link {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-align: left;
}

.footer-contact-mail__link {
  font-weight: 700;
}

/* .address {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-align: left;
} */

.footer-social {
  margin-top: 15px;
}
